
@use "_search.scss";
$font-main: 'Bebas Neue', sans-serif;
$font-second: 'Bebas Neue', sans-serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: #111;
}

.header {
  font-size: 5.2rem;
  margin: 3rem auto;
  text-align: center;
  width: 50%;
  background-color: red;
}
.top-rated {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}
.comic-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  background-color: white;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
}
.search {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.search:focus {outline: 3px solid #ddd;}

.drop-down {outline: 3px solid #ddd;}

.comic-front {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 1;
  transition: all 0.3s;
}
.comic {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  background-color: red;
  width: 100%;
  height: 40rem;
}

.comic-header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;
  z-index: 3;

  text-align: center;
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.poster {
  width: 100%;
  height: 20rem;
}
.comic-description {
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.modified {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.pages {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.search-box{
  position: absolute;
}



.button {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: red;
}